body {
    background-image: url("http://qlogin.github.io/webgl/images/background.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
}

/* Project Home page */
.project-home-panel {
    padding-bottom: 16px;
}
.project-home-panel .project-header, .project-home-panel .project-home-desc {
    visibility: hidden;
    height: 0px;
    margin: 0px;
}
.project-home-panel .project-repo-buttons div {
    margin-top: 0px;
}
.project-stats .nav .stat-link {
    color: #4a8bee;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    padding: 8px 12px;
    line-height: 16px;
    font-weight: 700;
}
.project-stats .nav .stat-link:hover, .project-stats .nav .stat-link:focus {
    border: 1px solid #b5b5b5;
}
.project-stats .nav .btn-missing {
    display: none;
}
.git-clone-holder {
    width: 450px;
}

/*** Commits ***/
#commits-list {
    max-width: 1100px;
}
/* Header */
li.commit-header {
    background: #eee;
    background-image: linear-gradient(#eee 6.6%, #dfdfdf);
    color: #456;
    text-shadow: 0 1px 1px #fff;
    font-size: 12px;
    border: 1px solid #CCC;
    word-wrap: break-word;
    box-shadow: 0 0 0 3px #f1f1f1;
    padding-top: 3px;
    padding-bottom: 3px;
}
li.commit-header .commits-count {
    float: right;
    color: #999;
    text-shadow: 0 1px 1px #fff;
    padding-right: 10px;
}
/* Commit content */
li.commit.flex-row {
    padding: 5px 2px;
}
li.commit .commit-content {
    width: 100%;
}
li.commit .commit-content>:not(.committer) {
    position: relative;
    left: 10px;
}
li.commit .commit-content .committer {
    float: left;
    visibility: hidden;
    width: 150px;
    font-size: 1px;
}
li.commit .commit-content .committer .commit-author-link {
    visibility: visible;
    font-size: 14px;
}
li.commit .commit-content .committer time:after {
    visibility: visible;
    content: '??';
    font-size: 12px;
    color: #999;
}
li.commits-row .commit .avatar-cell {
    width: 35px;
}
.avatar-cell a img.avatar {
    width: 24px;
    height: 24px;
}
li.commit .commit-actions .btn {
    padding: 2px 6px;
}
li.commit .commit-actions .label {
    font-size: 12px;
    padding: 2px 10px;
}

/* Files */
table.qa-file-tree tr td {
    padding: 3px 16px;
}
.qa-file-tree .tree-time-ago time {
    visibility: hidden;
}
.qa-file-tree .tree-time-ago time:after {
    visibility: visible;
    color: black;
    font-size: 12px;
    content: attr(data-original-title);
}
.qa-file-tree .tree-item-file-name i.fa-folder {
    color: #acdd96;
}
.qa-file-tree .tree-item-file-name i.fa-archive {
    color: #9f6808;
}
