body {
    background-image: url("http://qlogin.github.io/webgl/images/background.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
}
.content-wrapper .container-fluid {
    background: initial;
}
.content-wrapper:not(.page-with-layout-nav) {
    margin-top: 0px;
    position: absolute;
    top: 0px;
}
.row-content-block.content-component-block {
    background: initial;
}
.header-logo {
    background-image: url("https://global.download.synology.com/download/Package/img/Docker-GitLab/8.17.4-0022/thumb_256.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    width: 54px;
    height: 40px;
}
header .header-content .header-logo #logo {
    position: fixed;
    left: 55px;
    top: 10px;
    width: 50px;
    height: 40px;
}
header.navbar-gitlab {
    position: fixed;
    width: 100%;
    background-color: #e5e5e5;
}
header .global-dropdown-toggle {
    background-color: initial;
}
.page-with-sidebar {
    padding-top: 50px;
}
.page-with-sidebar > .layout-nav {
    background-color: transparent;
    position: fixed;
    top: -50px;
    left: 25%;
    width: 50%;
    z-index: 1000;
    border-bottom: none;
}
.page-with-sidebar .sub-nav li a {
    padding: 5px 10px;
    line-height: 24px;
}
.content .top-area {
    z-index: 1000;
    position: relative;
}

.content .top-area .nav-controls {
    margin-right: 20px;
}

.container-limited {
    max-width: 990px;
}
.project-home-panel > .container-fluid {
    max-width: 1280px;
}
.alert-wrapper {
    position: fixed;
    bottom: 0;
}
.user-profile .profile-header .avatar-holder {
    display: inline-block;
    vertical-align: top;
    width: 70px;
}
.user-profile .profile-header .avatar-holder .avatar {
    width: 70px;
    height: 70px;
}
.user-profile .profile-header .user-info {
    display: inline-block;
    padding: 0px 20px;
}
/* Commits */

li.commit-header {
    background: #eee;
    background-image: linear-gradient(#eee 6.6%, #dfdfdf);
    color: #456;
    text-shadow: 0 1px 1px #fff;
    font-size: 12px;
    border: 1px solid #CCC;
    word-wrap: break-word;
    box-shadow: 0 0 0 3px #f1f1f1;
    padding-top: 3px;
    padding-bottom: 3px;
}
.commit-header .commits-count {
    float: right;
    color: #999;
    text-shadow: 0 1px 1px #fff;
    padding-right: 10px;
}
li.commits-row {
    padding: 0px 10px;
}
li.commits-row .commit {
    padding: 6px 0px;
}
li.commits-row .commit .avatar-cell {
    width: 30px;
}
.commit-detail {
    max-width: calc(100% - 30px);
}
.commit-content {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
.commit-actions .status-box {
    margin: 0px 0px;
}
.commit-content .commiter {
    display: inline;
    font-size: 0px;
    order: -1;
}
.commit-content .commiter a {
    font-size: 14px;
}
.commit-content .commiter .tooltip {
    font-size: 12px;
    font-weight: normal;
}
.commit-content .commiter .tooltip-inner {
    max-width: 300px;
}
.commit-content .commit-row-message {
    margin-left: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.commit-content .commiter time {
    display: none;
}
.commit-actions .btn {
    padding-top: 0px;
    padding-bottom: 0px;
}
.commit.flex-list {
    padding-top: 6px;
    padding-bottom: 6px;
}
ul.blob-commit-info {
    padding-top: 6px;
    padding-bottom: 6px;
}
.table-list .table-list-cell {
    padding: 8px 10px 8px 10px;
}
.table-list .table-list-cell.avatar-cell {
    width: 30px;
}
.avatar-cell a img.avatar {
    width: 24px;
    height: 24px;
}
.table-list-cell a.btn {
    padding: 1px 5px;
}
.project-stats .nav > li > a {
    font-weight: bold;
    color: #4a8bee;
}
.project-stats .nav {
    padding-top: 5px;
    padding-bottom: 5px;
}
.project-home-panel,
.group-home-panel {
    padding-top: 12px;
    padding-bottom: 12px;
}
.project-home-panel .project-avatar {
    float: left;
}
.project-home-panel .project-title {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
}
/* Wiki pages */

.container-limited.limit-container-width-sm {
    max-width: 950px;
}
.wiki-page-header .wiki-breadcrumb {
    display: none;
}
.wiki-page-header .wiki-last-edit-by {
    font-size: 75%;
    line-height: 24px;
}
.wiki-page-header .nav-controls {
    white-space: initial;
}
/* Dropdown menu */

header .dropdown-menu-nav li a {
    padding: 5px 16px;
}
.nav-sidebar .nav li.project-row a {
    font-size: small;
}
.dropdown-menu-nav .project-avatar {
    margin-left: 8px;
    margin-right: 3px;
    text-align: center;
}
/**/

.event-item .event-title {
    font-weight: initial;
}
.event-item .event-title .author_name,
.event-item .event-title a {
    font-weight: 600;
}